<html>
  <header> 
    <title>Welcome to Colorrrr</title>
    <%= stylesheet_link_tag "bootstrap-custom" %>
  </header>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Colorrrr</a>
        </div>
      </div>
    </nav>
    
    <div class="container-fluid">
      <img src="<%= asset_path( 'colored-pencils.jpg' )%>" class="img-responsive"/>
      <p class="lead text-uppercase">Explore others artsy creations or share yours...because there is nothing more fun than diy!</p>
    </div>
  </body>
</html>